<a href="https://colab.research.google.com/github/Anson422/Anson-Eva-Valerie/blob/main/Stacked%20Bar%20Chart/EU_import_RU_gas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/Anson422/Anson-Eva-Valerie.git #clone the repository to the local machine
!git install pandas

Cloning into 'Anson-Eva-Valerie'...
remote: Enumerating objects: 1111, done.
remote: Counting objects: 100% (99/99), done.
remote: Compressing objects: 100% (65/65), done.
remote: Total 1111 (delta 75), reused 34 (delta 34), pack-reused 1012 (from 1)
Receiving objects: 100% (1111/1111), 1.42 GiB | 24.36 MiB/s, done.
Resolving deltas: 100% (414/414), done.
Updating files: 100% (530/530), done.
git: 'install' is not a git command. See 'git --help'.

The most similar command is
	instaweb

In [2]:
#This tells python to draw the graphs "inline" - in the notebook
%matplotlib inline
import matplotlib.pyplot as plt
from scipy.stats import norm
import statistics
import seaborn as sns

import pylab
import pandas as pd
import numpy as np

In [14]:
#download all countries with RU import data
dic = {"Czechia": 5, "Estonia": 10, "Greece": 18, "Italy": 22, "Latvia": 25, "Romania": 30, "Slovakia": 33}
dfs = {}

for key, value in dic.items():
    try:
        dfs[key] = pd.read_excel("/content/Anson-Eva-Valerie/Stacked Bar Chart/data/ds-045409__custom_14788878_spreadsheet.xlsx", sheet_name= f"Sheet {value}")
    except Exception as e:
        print(f"Error loading sheet {value} (for {key}): {e}")

/usr/local/lib/python3.10/dist-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/usr/local/lib/python3.10/dist-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/usr/local/lib/python3.10/dist-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/usr/local/lib/python3.10/dist-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/usr/local/lib/python3.10/dist-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/usr/local/lib/python3.10/dist-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/usr/local/lib/python3.10/dist-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [20]:
all_data = []

for key, df in dfs.items():
    values = df.loc[20]  # Assuming data is in row 20, adjust if needed
    date = df.loc[8]     # Assuming date is in row 8, adjust if needed
    values.name = key    # Set the country name as the series name
    combined_data = pd.concat([date, values], axis=1)
    all_data.append(values)
final_df = pd.concat(all_data, axis=1).T  # Transpose to have countries as rows
final_df = final_df.rename(columns={final_df.columns[0]: 'Date'}) # Rename the first column to 'Date'
final_df = final_df[['Date'] + [f'Unnamed: {i}' for i in range(400, 444)]]  # Select desired columns
final_df

,Date,Unnamed: 400,Unnamed: 401,Unnamed: 402,Unnamed: 403,Unnamed: 404,Unnamed: 405,Unnamed: 406,Unnamed: 407,Unnamed: 408,...,Unnamed: 434,Unnamed: 435,Unnamed: 436,Unnamed: 437,Unnamed: 438,Unnamed: 439,Unnamed: 440,Unnamed: 441,Unnamed: 442,Unnamed: 443
Czechia,Russian Federation (Russia),28139984,34557654,13178085,29349678,26569395,15107607,53863661,127107895,32524393,...,5377140,3660552,1866244,2655656,2669774,2412043,2614087,2609387,2323167,2565967
Estonia,Russian Federation (Russia),1825688,4499185,6657988,2877069,11261761,6524360,1113705,5196787,167692,...,:,:,:,:,:,:,:,:,:,:
Greece,NaN,46004325,57801877,51436458,41673736,85358074,102191042,92383086,181126920,190195464,...,14240978,82996880,96440194,81418683,134003369,132199028,162123925,164810263,166889302,149605501
Italy,NaN,446299000,532662625,655229935,569660448,741686859,835580224,1076909655,1266118456,1359157630,...,84124854,93156056,238447483,198487992,128483340,146905766,214008480,160768728,315520256,85281540
Latvia,NaN,2709706,33849707,70065175,88860633,89286259,76001192,62081995,62266202,29197656,...,:,:,:,:,:,:,:,:,:,:
Romania,NaN,24764393,22312398,29320086,36020285,48493312,49006794,19493183,31146450,47368530,...,:,:,:,:,:,:,:,:,:,:
Slovakia,NaN,55032797,56449682,59135202,71239100,84143893,101259996,124114122,149356309,223835517,...,117887651,97465101,83992107,83832138,89794108,104317311,115780784,106566283,125468549,123987816

In [19]:
dfs["Estonia"]

,Data extracted on 23/12/2024 16:28:50 from [ESTAT],Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 436,Unnamed: 437,Unnamed: 438,Unnamed: 439,Unnamed: 440,Unnamed: 441,Unnamed: 442,Unnamed: 443,Unnamed: 444,Unnamed: 445
0,Dataset:,EU trade since 1988 by HS2-4-6 and CN8 [ds-045...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Last updated:,17/12/2024 11:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Frequency,NaN,Monthly,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,REPORTER,NaN,Estonia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,FLOW,NaN,IMPORT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,INDICATORS,NaN,VALUE_IN_EUROS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,TIME,TIME,1988-01,1988-02,1988-03,1988-04,1988-05,1988-06,1988-07,1988-08,...,2024-03,2024-04,2024-05,2024-06,2024-07,2024-08,2024-09,2024-10,2024-11,2024-12
9,PARTNER (Labels),PRODUCT (Labels),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Extra-EU27 (= 'WORLD' - 'EU27_2020_INTRA'),Petroleum oils and oils obtained from bitumino...,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
11,Extra-EU27 (= 'WORLD' - 'EU27_2020_INTRA'),Petroleum oils and oils obtained from bitumino...,:,:,:,:,:,:,:,:,...,10551854,13508731,3371762,5840188,1558363,5261368,5102489,12567467,:,:
12,Extra-EU27 (= 'WORLD' - 'EU27_2020_INTRA'),"Natural gas, liquefied",:,:,:,:,:,:,:,:,...,130584,103186,116446,171380,134706,216594,234198,82818,:,:
13,Extra-EU27 (= 'WORLD' - 'EU27_2020_INTRA'),Natural gas in gaseous state,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
14,Extra-EU27 (= 'WORLD' - 'EU27_2020_INTRA'),FERTILISERS,:,:,:,:,:,:,:,:,...,808849,2775645,598611,47839,3867404,782296,24832,747665,:,:
15,Extra-EU27 (= 'WORLD' - 'EU27_2020_INTRA'),IRON AND STEEL,:,:,:,:,:,:,:,:,...,2827615,3514085,3344691,7057033,9518475,6548589,4843842,22160812,:,:
16,Extra-EU27 (= 'WORLD' - 'EU27_2020_INTRA'),NICKEL AND ARTICLES THEREOF,:,:,:,:,:,:,:,:,...,177306,424166,618598,333451,919263,309710,149282,894600,:,:
17,Russian Federation (Russia),Petroleum oils and oils obtained from bitumino...,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
18,Russian Federation (Russia),Petroleum oils and oils obtained from bitumino...,:,:,:,:,:,:,:,:,...,:,8142,:,:,:,:,:,:,:,:
19,Russian Federation (Russia),"Natural gas, liquefied",:,:,:,:,:,:,:,:,...,130584,103186,116446,171380,134706,216594,234198,82818,:,:
20,Russian Federation (Russia),Natural gas in gaseous state,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
21,Russian Federation (Russia),FERTILISERS,:,:,:,:,:,:,:,:,...,:,15020,82200,43581,:,:,:,:,:,:
22,Russian Federation (Russia),IRON AND STEEL,:,:,:,:,:,:,:,:,...,1163958,1483397,1636396,1308827,3090863,2912147,2265008,3061757,:,:
23,Russian Federation (Russia),NICKEL AND ARTICLES THEREOF,:,:,:,:,:,:,:,:,...,141426,362233,376394,281100,855985,287680,108750,637253,:,:
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Special value,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,:,not available,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN